@font-face {
  font-family: inter;
  src: url(fonts/Inter_18pt-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter";
}

body {
  background-color: #000;
}

.layout {
  display: flex;
  min-height: 100vh;
  padding: 20px;
  background-color: #262525;
  margin: 33px;
  border-radius: 24px;
}


.sidebar {
  width: 70px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
}

.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 20px 0;
}

.sidebar li {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.sidebar li.active {
  background: #7c3aed8c;
  border-radius: 10px;
}


.content {
  flex: 1;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}


.top-bar {
  display: flex;
  align-items: center;
  gap: 16px;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dashboard {
  display: flex;
  gap: 20px;
  flex: 1;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row {
  display: flex;
  gap: 20px;
}


.right {
  width: 220px;
  position: relative;
}

.card {
  background: #2b2b2b;
  border-radius: 20px;
}

.small {
  flex: 1;
  height: 120px;
}

.medium {
  flex: 1;
  height: 120px;
}

.wide {
  height: 140px;
}

.stack-card div {
  border-radius: 36px;
  width: 218px;
  height: 228px;
  position: absolute;
}

.purple {
  background: linear-gradient(180deg, #8b5cf6, #6d28d9);
  z-index: 5;
}

.golden {
    background: linear-gradient(90deg, #c68e3c, #c68e3c);
    z-index: 4;
    left: 18px;
    top: -12px;
    transform: rotate(20deg);
    width: 218px !important;
    height: 205px !important;
}
.green {
    background: linear-gradient(90deg, #2F847F, #2F847F);
    z-index: 3;
    left: 21px;
    top: -12px;
    transform: rotate(54deg);
    width: 221px !important;
    height: 200px !important;
}
